body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00003D;
    padding: 50px 20px;
    border-radius: 15px;
}

h1 {
    font-size: 2rem; /* Tamaño de fuente */
    text-align: center; /* Centra el texto */
    margin-bottom: 30px; /* Espacio debajo del título */
}

.timer-container {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.timer-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    color: #ffffff;
    font-weight: bold;
    background-color: #f3486d;
    cursor: pointer;
}

.timer-container button:hover {
    transform: scale(1.2);
}

.timer-container .active {
    background-color: #db2a34;
}

#longbrkbtn {
    display: none;
}

.pomdoro-count {
    margin-bottom: 20px;
    display: none;
    font-weight: 800;
}

.function-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.function-buttons button:hover {
    transform: scale(1.2);
}

#startbtn,
#pausebtn,
#resetbtn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    color: #ffffff;
    font-weight: bold;
    background-color: #f3486d;
    cursor: pointer;
}

#startbtn {
    background-color: #008000;
}

#pausebtn {
    background-color: #db2a34;
}

#resetbtn {
    background-color: #ffa600;
}

.progressbar {
    height: 180px;
    width: 180px;
    background: conic-gradient(crimson 0deg, rgb(243, 72, 109) 0deg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pulse 3s infinite;
    transition: all ease;
    margin-bottom: 50px;
}

.progrsbar-inner {
    height: 90%;
    width: 90%;
    background: #03033f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressbar-number {
    color: #ffffff;
    font-weight: 900;
    font-size: 2rem;
}

@keyframes pulse {
    0% {
        transform: scale(0.97);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.97);
    }
}
