{% extends "sidebar.html" %}

{% block title %} Taskly - Trash {% endblock %}

{% block content %}

<h1>Tareas en la Papelera</h1>

{% if tasks_in_trash %}
    <ul>
        {% for task in tasks_in_trash %}
        <li>
            <h3>{{ task.title }}</h3>
            <p><strong>Notas:</strong> {{ task.notes }}</p>
            <p><strong>Fecha de Vencimiento:</strong> {{ task.due_date }}</p>
            <p><strong>Frecuencia:</strong> {{ task.frequency }}</p>

            <!-- Botón para restaurar la tarea -->
            <form action="{{ url_for('trash.restore_task', task_id=task.id) }}" method="POST">
                <button type="submit">Restaurar tarea</button>
            </form>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No tienes tareas en la papelera.</p>
{% endif %}

{% endblock %}